<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header" id="home">
      <nav>
        <div class="nav__bar">
          <div class="nav__logo">
            <img src="/assets/img/logo.png" alt="logo" />
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">Trang chủ</a></li>
          <li><a href="#team">Đội ngũ </a></li>
          <li><a href="#about">Thông tin</a></li>
          <li class="css-mobile-logo">
            <a href="#">
              <img
                class="nav__logo"
                src="/assets/img/logo.png"
                alt="logo__nav"
              />
            </a>
          </li>
          <li><a href="#feature">Phát triển</a></li>
          <li><a href="#blog">Tin tức</a></li>
          <li><a href="#contact">Liên hệ</a></li>
        </ul>
      </nav>
      <div class="section__container header__container">
        <div class="header__content">
          <p>CỔ ĐIỂN</p>
          <h1>
            SANG TRỌNG <br />
            VUA TỐC ĐỘ <br />
            SÁNG TẠO
          </h1>
          <div class="header__btn">
            <button class="btn">XEM THÊM</button>
          </div>
        </div>
      </div>
    </header>

    <section class="section__container banner__container" id="team">
      <div class="banner__grid">
        <div class="banner__card">
          <h4>Đội ngũ phát triển</h4>
        </div>
        <div class="banner__card">
          <h4>Xưởng</h4>
        </div>
        <div class="banner__card">
          <h4>Tùy chỉnh</h4>
        </div>
        <div class="banner__card">
          <h4>Dịch vụ và sửa chữa</h4>
        </div>
        <img src="/assets/img/logo.png" alt="logo" />
      </div>
      <div class="banner__trip">
        <div class="banner__trip__card">
          <img src="/assets/img/banner-3.jpg" alt="banner" />
          <div>
            Chất lượng <br />
            Uy tính
          </div>
        </div>
        <div class="banner__trip__card">
          <img src="/assets/img/banner-4.jpg" alt="banner" />
          <div>
            Yamaha <br />
            X10000
          </div>
        </div>
        <div class="banner__trip__card">
          <img src="/assets/img/banner-5.jpg" alt="banner" />
          <div>
            Tùy chỉnh <br />
            Sửa chữa
          </div>
        </div>
        <div class="banner__trip__card">
          <img src="/assets/img/banner-6.jpg" alt="banner" />
          <div>
            Phù hợp <br />
            Động cơ
          </div>
        </div>
        <div class="banner__trip__card">
          <img src="/assets/img/banner-7.jpg" alt="banner" />
          <div>
            Êm ái <br />
            Chính hãng
          </div>
        </div>
        <div class="banner__trip__card">
          <img src="/assets/img/banner-8.jpg" alt="banner" />
          <div>
            Ngầu <br />
            Mạnh mẽ
          </div>
        </div>
      </div>
    </section>

    <section class="section__container about__container" id="about">
      <div class="section__header">Về chúng tôi</div>
      <p class="section__description">
        Khẩu hiệu của BMW - "The Ultimate Driving Machine - Cỗ máy tối thượng"
        Thương hiệu BMW sử dụng khẩu hiệu "The Ultimate Driving Machine" để củng
        cố hình ảnh của mình, khiến nó trở nên táo bạo hơn, mạnh mẽ hơn. Không
        nghi ngờ gì nữa, đây là một trong những khẩu hiệu thương hiệu xe hơi hay
        nhất được sử dụng trong quảng cáo trong ngành công nghiệp ô tô hiện nay.
      </p>
    </section>

    <section class="feature" id="feature">
      <div class="section__container feature__container">
        <h4>"Hãy là chính mình, bình thường chứ không tầm thường"</h4>
        <div class="section__header">Video đặc sắc</div>
        <div class="feature__grid">
          <div class="feature__content">
            <div>
              <p>
                Sẽ rất đau đớn khi bạn yêu một người nào đó mà không được đáp
                lại. Nhưng còn đau đớn hơn khi bạn yêu một ai đó mà không đủ
                dũng cảm để nói ra cho người đó biết bạn đã yêu như thế nào?
              </p>
              <button class="btn">Xem thêm Video</button>
            </div>
          </div>
          <div class="feature__video">
            <video src="/assets/video/feature.mp4" muted loop autoplay></video>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container blog__container" id="blog">
      <div class="section__header">Tin tức mới</div>
      <div class="blog__grid">
        <div class="blog__card">
          <img src="/assets/img/blog-1.jpg" alt="Blog" />
          <div class="blog__header">
            <h4>Tin tức nổi bật mới nhất: Iconic Bikes and Their Legacy</h4>
            <div class="blog__card__footer">
              <div>
                <span><i class="fa-regular fa-clock"></i></span> 1/10/2024
              </div>
              <div>
                <span><i class="fa-solid fa-comment"></i></span> 48 Bình luận
              </div>
            </div>
          </div>
          <div class="blog__content">
            <h4>Iconic Bikes and Their Legacy</h4>
            <p class="css-text-aligh-justify">
              Victor Hugo cũng từng nói rằng “Được yêu, một sự kiện quan trọng
              biết bao! Yêu, càng trọng đại hơn nữa! Vì yêu, trái tim trở nên
              can đảm. Nó chỉ còn toàn những gì thuần khiết, chỉ dựa vào những
              gì cao thượng và lớn lao”.
            </p>
          </div>
        </div>
        <div class="blog__card">
          <img src="/assets/img/blog-2.jpg" alt="Blog" />
          <div class="blog__header">
            <h4>Phục hồi thần kỳ: Bringing Classic Back to Life</h4>
            <div class="blog__card__footer">
              <div>
                <span><i class="fa-regular fa-clock"></i></span> 2/10/2024
              </div>
              <div>
                <span><i class="fa-solid fa-comment"></i></span> 39 Bình luận
              </div>
            </div>
          </div>
          <div class="blog__content">
            <h4>Bringing Classic Back to Life</h4>
            <p class="css-text-aligh-justify">
              Trong cuộc sống, nơi nào có một người chiến thắng, nơi đó có một
              người thua cuộc. Nhưng, người biết hi sinh vì người khác luôn luôn
              là người chiến thắng.
            </p>
          </div>
        </div>
        <div class="blog__card">
          <img src="/assets/img/blog-3.jpg" alt="Blog" />
          <div class="blog__header">
            <h4>Hồi sinh phong cách: Fashion and Gear for the Classic Rider</h4>
            <div class="blog__card__footer">
              <div>
                <span><i class="fa-regular fa-clock"></i></span> 19/10/2024
              </div>
              <div>
                <span><i class="fa-solid fa-comment"></i></span> 88 Bình luận
              </div>
            </div>
          </div>
          <div class="blog__content">
            <h4>Fashion and Gear for the Classic Rider</h4>
            <p class="css-text-aligh-justify">
              Tagore cũng từng nói rằng “Tình yêu thầm lặng là tình yêu thiêng
              liêng. Trong bóng mờ trái tim ẩn kín một tình yêu sáng rực như
              trân châu. Trong ánh sáng ban ngày kỳ lạ, tình yêu lu mờ một cách
              đau thương”.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="instagram__container">
      <div class="section__header">
        Instagram
        <span class="css-ins">
          <i class="fa-brands fa-square-instagram" id="insta"></i>
        </span>
      </div>
      <div class="instagram__flex">
        <img src="/assets/img/instagram-1.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-2.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-3.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-4.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-5.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-6.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-7.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-8.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-9.jpg" alt="Instagram" />
        <img src="/assets/img/instagram-10.jpg" alt="Instagram" />
      </div>
    </section>

    <footer class="footer" id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <img src="/assets/img/logo.png" alt="Logo" />
          <div class="footer__social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="footer__bar">
            Bản quyền và phát triển thuộc Nguyễn Văn Hào. 1/10/2024
          </div>
        </div>
        <div class="footer__col">
          <h4>Đăng ký Bảng tin</h4>
          <p>Đăng ký để nhận được các tin mới nhất</p>
          <form action="/">
            <input type="text" placeholder="Email của bạn...." />
            <button class="btn">Ok</button>
          </form>
        </div>
        <div class="footer__col">
          <h4>Liên hệ</h4>
          <p>
            <span><i class="fa-solid fa-map"></i></span>Thới Lai Cần Thơ Miền
            Nam Việt Nam
          </p>
          <p>
            <span><i class="fa-solid fa-phone"></i></span> 0901 090 131
          </p>
          <p>
            <span><i class="fa-solid fa-envelope"></i></span> tunyhao@gmail.com
          </p>
        </div>
      </div>
      <a href="#home" class="footer__bar__link"><span>&#8686;</span> </a>
    </footer>
  </body>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/public/js/index.js"></script>
  <!-- <script src=""></script> -->
</html>
